.row {
  display: flex;
  flex-wrap: wrap
}

.justify-center{
  justify-content: center;
}

div > button{
  height: 150px;
  width: 150px;
  border: solid 1px;
  background-color: white;
}

.container{
  width: 456px;
  margin: 100px auto;
}
